<script setup lang="ts">
import { countCards } from '@/models/card';
import { useCollectionStore } from '@/stores/collection';
import { computed, ref } from 'vue';

const collectionStore = useCollectionStore();

const search = ref<string>();

const viewCards = computed(() =>
  onlyFreeCards.value ? collectionStore.freeCollection : collectionStore.collection,
);

const filtered = computed(() => {
  if (search.value) {
    const v = search.value;
    return viewCards.value.filter((f) => f.name.includes(v));
  }

  return viewCards.value;
});

function onFileChange(e: any) {
  var files = e.target.files || e.dataTransfer.files;
  if (!files.length) return;

  files[0].text().then((txt: string) => {
    collectionStore.uploadCollection(txt);
  });
}

const count = computed(() => countCards(collectionStore.collection));
const countVisibleCards = computed(() => countCards(filtered.value));
const onlyFreeCards = ref(false);
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <h1>Your collection</h1>
        <p>Use the input file to upload a collection file</p>
        <input type="file" @change="onFileChange" />
        <p>Actually you have {{ count }} cards (viewing {{ countVisibleCards }}).</p>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-data-table :items="filtered" density="compact">
          <template v-slot:top>
            <v-checkbox v-model="onlyFreeCards" label="Show only free cards"></v-checkbox>
            <v-text-field v-model="search" density="compact" class="pa-2"></v-text-field>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
  </v-container>
</template>
