<script setup lang="ts">
import type { Card } from '@/models/card';
import { useCollectionStore } from '@/stores/collection';
import { useDeckStore } from '@/stores/deck';
import { ref } from 'vue';

const collectionStore = useCollectionStore();

const data = ref<d3.DSVRowArray>();

const newDeckText = ref<string>();

/**
 * Here we come from text area.
 */
function createDeck() {
  const split = newDeckText.value?.split('\n');
  if (split) {
    const cards = split
      .map((m) => {
        const countAndNameWithSpaceRegex = /^(\d*)\s?x?\s?(.*)$/;
        const groups = m.match(countAndNameWithSpaceRegex);
        console.log('Found', groups);
        if (groups) {
          const name = groups[2];
          if (name) {
            const count = Number(groups[1]);
            return { count, name } as Card;
          } else {
            throw new Error(`Missing name from ${m}`);
          }
        }

        throw new Error(`Wrong card format for ${m}, write 4x Curiosity`);
      })
      .filter((f) => typeof f !== 'undefined' && Boolean(f));

    const newCollection = collectionStore.fillDecks(cards);
    if (newCollection) {
      if (confirm('You can, proceed?')) {
        if (deckTitle.value) {
          decks.add({ title: deckTitle.value, cards: cards });
          deckTitleError.value = '';
        } else {
          deckTitleError.value = 'Deck must have a title';
        }
      }
    }
  }
}

const deckTitleError = ref<string>();

const decks = useDeckStore();

/**
 * Here we come from file upload.
 *
 * @param e File uploaded.
 */
function onFileChange(e: any) {
  var files = e.target.files || e.dataTransfer.files;
  if (!files.length) return;

  files[0].text().then((txt: string) => {
    collectionStore.fillDecks(txt);
  });
}

const deckTitle = ref<string>();
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <v-text-field v-model="deckTitle" placeholder="Deck title" :hint="deckTitleError" />
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" md="3">
        <p>Upload from a file (csv format)</p>
        <input type="file" @change="onFileChange" />
      </v-col>
      <v-col cols="12" md="9">
        <p>
          Or upload a text card list (use `card name`, `1 card name` or `1x card name` format only)
        </p>
        <v-textarea v-model="newDeckText" />
        <v-btn @click="createDeck">Create deck</v-btn>
        <p>Your decks</p>
        <v-list lines="one">
          <v-list-item
            v-for="(d, i) in decks.decks"
            :key="i"
            :title="d.title"
            :subtitle="'Deck with ' + d.cards.length + ' cards'"
          ></v-list-item>
        </v-list>
        <ul>
          <li v-for="d in data?.columns" :key="d"><input type="checkbox" />{{ d }}</li>
        </ul>
        <ul>
          <li v-for="(d, i) in data" :key="i">{{ d.Count }}{{ d.Name }}{{ d }}</li>
        </ul>
      </v-col>
    </v-row>
  </v-container>
</template>
