<script setup lang="ts">
import DeckView from '@/views/DeckView.vue';
</script>

<template>
  <v-container>
    <v-row>
      <v-col>Deck Inspector</v-col>
      <v-col>Go to your <router-link to="/collection">collection</router-link></v-col>
    </v-row>
    <v-row>
      <deck-view></deck-view>
    </v-row>
  </v-container>
</template>
