<script setup lang="ts">
import { onMounted } from 'vue';
import { ref } from 'vue';
import { useCollectionStore } from './stores/collection';
import { useDeckStore } from './stores/deck';

const drawer = ref<boolean>(false);

const collectionStore = useCollectionStore();
const deckStore = useDeckStore();

onMounted(async () => {
  collectionStore.loadCollection();
  deckStore.loadDecks();
});
</script>

<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer">
      <!--  -->
    </v-navigation-drawer>

    <v-app-bar>
      <v-app-bar-title link to="/">Deck Inspector</v-app-bar-title>

      <template v-slot:append>
        <v-tooltip text="Your collection">
          <template v-slot:activator="{ props }"
            ><v-btn v-bind="props" prepend-icon="mdi-list-box" link to="/collection"
              >Collection</v-btn
            ></template
          >
        </v-tooltip>
        <v-tooltip text="Your decks">
          <template v-slot:activator="{ props }"
            ><v-btn v-bind="props" prepend-icon="mdi-list-box" link to="/">Decks</v-btn></template
          >
        </v-tooltip>
      </template>
    </v-app-bar>

    <v-main>
      <RouterView />
    </v-main>
  </v-app>
</template>
